.we-actionsheet--wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5000;
    width: 100%;
    background-color: #e3e3e4;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, 0, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(0, 0, 0, 1);
    transition: transform .3s cubic-bezier(0, 0, 0, 1);
    transition: transform .3s cubic-bezier(0, 0, 0, 1), -webkit-transform .3s cubic-bezier(0, 0, 0, 1)
}

.we-actionsheet--menu {
    background-color: #fff
}

.we-actionsheet--action {
    margin-top: 6px;
    background-color: #fff
}

.we-actionsheet--cell {
    position: relative;
    padding: 10px 0;
    text-align: center;
    font-size: 18px
}

.we-actionsheet--cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-top: 1px solid #e3e3e4;
    color: #e3e3e4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.we-actionsheet--cell:active {
    background-color: #e3e3e4
}

.we-actionsheet--cell:first-child:before {
    display: none
}

.we-actionsheet--android .we-actionsheet--wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 274px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: 0 0;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, 0, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(0, 0, 0, 1);
    transition: transform .3s cubic-bezier(0, 0, 0, 1);
    transition: transform .3s cubic-bezier(0, 0, 0, 1), -webkit-transform .3s cubic-bezier(0, 0, 0, 1)
}

.we-actionsheet--android .we-actionsheet--action {
    display: none
}

.we-actionsheet--android .we-actionsheet--menu {
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .1)
}

.we-actionsheet--android .we-actionsheet--cell {
    padding: 13px 24px;
    font-size: 16px;
    line-height: 1.4;
    text-align: left
}

.we-actionsheet--android .we-actionsheet--cell:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.we-actionsheet--android .we-actionsheet--cell:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.we-actionsheet--toggle {
    -webkit-transform: translate(0);
    transform: translate(0)
}

.we-actionsheet--mask {
    background: rgba(0, 0, 0, .6)
}

.we-actionsheet--mask, .we-actionsheet--mask-transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.we-actionsheet-menu-primary {
    color: #3f86ff
}

.we-actionsheet-menu-warn {
    color: #ffa503
}

.we-actionsheet-menu-default {
    color: #28354c
}

.we-actionsheet-menu-disabled {
    color: #bdbdbd
}

.we-actionsheet--android-animation-enter, .we-actionsheet--android-animation-leave-active, .we-actionsheet--animation-enter, .we-actionsheet--animation-leave-active {
    opacity: 0
}

.we-actionsheet--android-animation-enter-active, .we-actionsheet--android-animation-leave-active, .we-actionsheet--animation-enter-active, .we-actionsheet--animation-leave-active {
    -webkit-transition: opacity .3s !important;
    transition: opacity .3s !important
}

.we-load-more {
    margin: 0 auto;
    text-align: center;
    color: #666;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.we-load-more--with-line:after, .we-load-more--with-line:before {
    content: "";
    border-top: 1px solid;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.we-load-more--with-default {
    color: #c4c5ce;
    font-size: 12px
}

.we-load-more--wave-tip {
    display: inline-block;
    padding: 15px 0;
    position: relative
}

.we-load-more--wave-tip .we-load-more--wave-tip-item {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-animation: loading-wave-dots linear 2.8s infinite;
    animation: loading-wave-dots linear 2.8s infinite
}

.we-load-more--wave-tip .we-load-more--wave-tip-item:first-child {
    margin-left: -36px
}

.we-load-more--wave-tip .we-load-more--wave-tip-item:nth-child(2) {
    margin-left: -20px;
    -webkit-animation-delay: .14s;
    animation-delay: .14s
}

.we-load-more--wave-tip .we-load-more--wave-tip-item:nth-child(3) {
    margin-left: -4px;
    -webkit-animation-delay: .28s;
    animation-delay: .28s
}

.we-load-more--wave-tip .we-load-more--wave-tip-item:nth-child(4) {
    margin-left: 12px;
    -webkit-animation-delay: .42s;
    animation-delay: .42s
}

.we-load-more--wave-tip .we-load-more--wave-tip-item:last-child {
    margin-left: 28px;
    -webkit-animation-delay: .56s;
    animation-delay: .56s
}

@-webkit-keyframes loading-wave-dots {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #bbb
    }
    10% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        background: #999
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #bbb
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #bbb
    }
}

@keyframes loading-wave-dots {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #bbb
    }
    10% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        background: #999
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #bbb
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #bbb
    }
}

.we-load-more--text-tip {
    display: block;
    line-height: 45px
}

.we-load-more--finish-tip {
    margin: 14px 8px
}

.x-img-fadein[lazy=loaded], .x-img-fadein[normal=loaded] {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.g-noresult {
    padding: 40px 0;
    text-align: center
}

.g-noresult a {
    display: block;
    height: 115px;
    width: 115px;
    margin: 0 auto 20px
}

.g-noresult a img {
    width: 100%;
    height: 100%
}

.g-noresult h4 {
    color: #28354c;
    font-size: 16px;
    font-weight: 400
}

.g-noresult p {
    color: #83889a;
    font-size: 14px;
    margin-top: 10px
}

.g-noresult button {
    display: inline-block;
    margin-top: 30px;
    background-color: #3f86ff;
    color: #fff;
    width: 180px;
    height: 45px;
    line-height: 45px;
    border-radius: 100px;
    font-size: 14px;
    text-align: center;
    border: none;
    outline: none
}

.page-my-order-list[data-v-ac6d4d02] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.page-my-order-list .page-my-order-list--recent[data-v-ac6d4d02] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.page-my-order-list .page-my-order-list--recent-item[data-v-ac6d4d02] {
    padding: .38266667rem;
    background: #fff;
    margin-top: .22666667rem
}

.page-my-order-list .page-my-order-list--recent-item header[data-v-ac6d4d02] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: .35333333rem
}

.page-my-order-list .page-my-order-list--recent-item header .recent-item--left[data-v-ac6d4d02] {
    position: relative;
    color: #2b313d;
    font-size: .42266667rem;
    text-indent: 1.09466667rem;
    font-weight: 800
}

.page-my-order-list .page-my-order-list--recent-item header .recent-item--left[data-v-ac6d4d02]:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: .5333333rem;
    height: .5333333rem;
    background: url(https://kano.guahao.cn/BW1181620255) 50% no-repeat;
    background-size: cover
}

.page-my-order-list .page-my-order-list--recent-item header .recent-item--left.precision[data-v-ac6d4d02]:before {
    background: url(https://kano.guahao.cn/ScA181620257) 50% no-repeat;
    background-size: cover
}

.page-my-order-list .page-my-order-list--recent-item header .recent-item--left.referral[data-v-ac6d4d02]:before {
    background: url(https://kano.guahao.cn/uxV181620256) 50% no-repeat;
    background-size: cover
}

.page-my-order-list .page-my-order-list--recent-item header .recent-item--right[data-v-ac6d4d02] {
    font-size: .43733333rem;
    color: #9d9ea7
}

.page-my-order-list .page-my-order-list--recent-item header .recent-item--right.priority[data-v-ac6d4d02] {
    color: #ff695c
}

.page-my-order-list .page-my-order-list--recent-item header .recent-item--right.important[data-v-ac6d4d02] {
    color: #feb70f
}

.page-my-order-list .page-my-order-list--recent-item article[data-v-ac6d4d02] {
    position: relative
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--doctor[data-v-ac6d4d02] {
    padding: .85333333rem 0 .512rem
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--doctor-left[data-v-ac6d4d02] {
    display: inline-block;
    width: 1.63066667rem;
    position: absolute
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--doctor-left img[data-v-ac6d4d02] {
    width: 1.5066667rem;
    border-radius: 1.36533333rem
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--doctor p[data-v-ac6d4d02] {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2.0266667rem;
    color: #5e616b;
    font-size: .352rem;
    line-height: .5333333rem
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--doctor p.first[data-v-ac6d4d02] {
    color: #2b313d;
    font-size: .4733333rem;
    line-height: 0.90933333rem;
    font-weight: 700
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--user[data-v-ac6d4d02] {
    font-size: 0.392rem;
    padding-bottom: .512rem
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--user-left[data-v-ac6d4d02] {
    display: inline-block;
    width: 1.53066667rem;
    float: left;
    color: #9d9ea7;
    text-align: right
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--user p[data-v-ac6d4d02] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2.04266667rem;
    color: #2b313d;
    font-weight: 700
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--user p span[data-v-ac6d4d02] {
    color: #d6ad6b;
    font-weight: 400
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--fee[data-v-ac6d4d02] {
    position: absolute;
    right: 0;
    top: .85333333rem;
    font-size: .512rem;
    color: #2b313d
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--fee em[data-v-ac6d4d02] {
    font-size: .68rem;
    font-weight: 700;
    font-style: normal
}

.page-my-order-list .page-my-order-list--recent-item article .recent-item--fee span[data-v-ac6d4d02] {
    line-height: .93866667rem
}

.page-my-order-list .page-my-order-list--recent-item footer[data-v-ac6d4d02] {
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.page-my-order-list .page-my-order-list--recent-item footer .recent-item--btn[data-v-ac6d4d02] {
    color: #2b313d;
    font-size: .36533333rem;
    border: 1px solid #c3c4ca;
    font-weight: 700;
    display: inline-block;
    width: 2.07066667rem;
    height: 0.72266667rem;
    line-height: 0.62266667rem;
    border-radius: .68266667rem;
    text-align: center;
    margin-left: .22666667rem
}

.page-my-order-list .page-my-order-list--recent-item footer .recent-item--btn.redBag[data-v-ac6d4d02] {
    color: #fff;
    background: #f49938;
    border: none
}

.page-my-order-list .page-my-order-list--recent-item footer .recent-item--btn.payment[data-v-ac6d4d02] {
    background: #feb70f;
    border: 0 solid #feb70f;
    color: #fff
}

.page-my-order-list .page-my-order-list--recent-item footer .recent-item--btn.reward[data-v-ac6d4d02] {
    color: #3f86ff;
    border: .04266667rem solid #3f86ff
}

.page-my-order-list--noresult[data-v-ac6d4d02] {
    padding: 3.41333333rem 0
}

.page-my-order-list--noresult a[data-v-ac6d4d02] {
    height: 5.97333333rem !important;
    width: 5.97333333rem !important
}

.page-my-order-list--noresult h4[data-v-ac6d4d02] {
    font-weight: 700
}

.page-my-order-list--noresult .tcm-tip[data-v-ac6d4d02] {
    margin-top: .42666667rem
}

.page-my-order-list--noresult dl.steps-tips[data-v-ac6d4d02] {
    text-align: left;
    padding: 1.024rem 0 0;
    color: #83889a;
    width: 60%;
    margin: 0 auto
}

.page-my-order-list--noresult dl.steps-tips dd[data-v-ac6d4d02] {
    border-left: .08533333rem solid #eee;
    padding-left: .64rem;
    padding-bottom: .512rem;
    line-height: .68266667rem;
    position: relative;
    margin-left: .34133333rem
}

.page-my-order-list--noresult dl.steps-tips dd[data-v-ac6d4d02]:last-child {
    padding-bottom: 0
}

.page-my-order-list--noresult dl.steps-tips dd i[data-v-ac6d4d02] {
    position: absolute;
    height: .34133333rem;
    width: .34133333rem;
    text-align: center;
    left: -.29866667rem;
    top: .08533333rem;
    background: #fff;
    border: .08533333rem solid #e0e1e6 !important;
    border-radius: 50%;
    font-style: normal;
    line-height: .85333333rem;
    font-size: .512rem;
    -webkit-box-shadow: 0 0 .08533333rem .08533333rem #f5f6f6;
    box-shadow: 0 0 .08533333rem .08533333rem #f5f6f6
}

.page-my-order-list .page-my-order-list--share .bg-img[data-v-ac6d4d02] {
    background: url(https://kano.guahao.cn/6dU125503447) no-repeat 50%;
    height: 15.36rem;
    position: relative;
    top: -3.41333333rem;
    background-size: 100% 100%
}
